; This is the default configuration file for Cake.
; This file was downloaded from https://github.com/cake-build/resources

[Nuget]
UseInProcessClient=true
LoadDependencies=false

[Paths]
Tools=c:/cake/tools
Addins=c:/cake/tools/Addins
Modules=c:/cake/tools/Modules

[Settings]
SkipVerification=false
